.title-div {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-weight: bolder;
}

.body-div{
    justify-content: center;
}

input{
    width: 100%;
    box-sizing: border-box;
}

label{
    font-family: "Trebuchet MS";
    font-size: 14px;
    
}

.input-div {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    width: 47%;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bolder;
    background-color: rgb(132, 187, 247);
    border-radius: 5px;
    border-width: 1px;
}

